[Examples]
# Write relative paths to project dir (parent of this file)
# Example: parsing_path = ./lib
# Example: output_path = ./mydataclasses

[Pathing]
# Path to parse all dataclasses, metaclasses and enums
parsing_path = ./lib/domain
# For output of non-inserted generated code (MUST BE IN LIB FOR AUTOMATIC IMPORTS TO WORK!!!!)
output_path = ./lib/mydataclasses
testing_path = ./test

[Options]
# Options: vscode jetbrains other
preferred_editor = jetbrains
warning_message = False
reference_private_methods = False
format_files_with_insertion = True
default_regeneration = True